<h5 class="vine-name"><a href="#!/<%= id %>"><%= name %></a><span><%= photos_count %> 张照片</span></h5>
<div class="thumbs clearfix">
  <% _.each(photos, function(photo){ %>
    <a href="#!/<%= id %>">
    <div class="thumb">
      <i style="background-image: url(<%= photo.url %>)"></i>
    </div>
    </a>
  <% });%>
</div>